# Node modules
node_modules/

# Environment files
*.env

# Log files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build output
dist/
frontend/dist/
backend/node_modules/
frontend/node_modules/

# System files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
